.body-0 {
  margin: 0px;
  background-color: #141414;
  font-family: Arial, sans-serif;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* .info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;

  fill: dimgray;
  font: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

.customization-container {
  fill: dimgray;

  display: flex;
  gap: 20px;
}

.customization-option {
  fill: dimgray;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-title {
  color: #ccc;
  font-weight: bold;
  margin-bottom: 5px;
}

.color-button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
} */
